.userForm {
  background-color: white;
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  width: 50rem;
}

.block {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.userForm label {
  font-size: large;
}

.userForm input {
  font-size: large;
  width: 15rem;
}

.userForm button {
  background-color: blueviolet;
  color: white;
  font-size: large;
  margin-top: 1rem;
  padding: 0.5rem;
}
