.conditional-style-dynamically-component {
  background-color: aliceblue;
  color: black;
}

.conditional-style-dynamically-component.invalid input {
  border-color: red;
}

.conditional-style-dynamically-component.invalid h2 {
  color: red;
}
