.toolbar {
  color: white;
  background-color: rgb(182, 67, 1);
  height: 6rem;
  display: flex;
  flex-direction: row;
}

.toolbar h1 {
  margin-left: 3rem;
  float: left;
}

.summaryButton {
  display: flex;
  width: 70%;
  justify-content: right;
  align-items: center;
}
