.loginButton {
  display: flex;
  justify-content: center;
}

.loginButtonValid {
  background-color: blueviolet;
  color: white;
  font-size: large;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  border-color: rgba(255, 255, 255, 0);
}

.loginButtonInvalid{
  background-color: gray;
  color: white;
  font-size: large;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  border-color: rgba(255, 255, 255, 0);  
}