.simpleForm {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.simpleForm form {
  display: flex;
  flex-direction: column;
}

.simpleForm label {
  font-size: large;
  margin: 0.5rem;
}

.simpleForm input {
  font-size: large;
  margin: 0.5rem;
  border-radius: 12px;
  padding: 0.5rem;
  border-color: lightgray;
}

.submitButton {
  display: flex;
  justify-content: right;
}

.simpleForm button {
  background-color: blueviolet;
  color: white;
  font-size: large;
  padding: 0.5rem;
}
