.frame {
  margin: 0.5rem;
}

.summaryCard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.details {
  width: 80%;
}

.control {
  width: 20%;
  /* width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; */
}

.input {
  display: flex;
  flex-direction: row;
}

.input input {
  width: 2rem;
  margin-left: 0.5rem;
}
