.frame {
  margin: 0.5rem;
}

.summaryCard {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.details {
  width: 90%;
}

.control {
  width: 10%;
}

.input {
  display: flex;
  flex-direction: row;
}

.control input {
  width: 3rem;
  margin-left: 0.5rem;
}

.control button {
  background-color: rgb(201, 51, 51);
  color: white;
  border-radius: 12px;
  font-size: large;
  padding: 0.3rem;
  margin-top: 1rem;
}
